<script>
var formStructure = [
	{type:"settings",labelWidth:100,inputWidth:200},
	{type:"fieldset",label:"专线基本信息",name:"basic",width:350,offsetLeft:15,list:[
		{type:"input",name:"instanceId",label:"产品实例标识",validate:"^[0-9]{11}$",required:true},
		{type:"select",name:"zxType",label:"专线类别",required:true},
		{type:"input",name:"bandWidth",label:"带宽",value:"10M",validate:"^[0-9Mm]+$"},
		{type:"select",name:"neFactory",label:"网元厂家",required:true},
		{type:"combo",name:"aStation",label:"A端基站",required:true},
		{type:"input",name:"cName",label:"客户名",maxLength:30,required:true},
		{type:"input",name:"cAddress",label:"客户地址",rows:2,required:true},
		{type:"input",name:"cNeeds",label:"客户需求",maxLength:150,rows:3},
		{type:"input",name:"cPerson",label:"客户联系人姓名",maxLength:5,required:true},
		{type:"input",name:"cPhone",label:"客户联系人电话",maxLength:12,required:true},
		{type:"input",name:"cEmail",label:"客户联系人邮箱",validate:"ValidEmail",required:true},
		{type:"input",name:"mPerson",label:"客户经理姓名",maxLength:5,required:true},
		{type:"input",name:"mPhone",label:"客户经理电话",maxLength:12,required:true},
		{type:"input",name:"mEmail",label:"客户经理邮箱",validate:"ValidEmail",required:true},
		{type:"input",name:"marks",label:"备注"},
	]},
	{type:"block",name:"btn",inputWidth:"auto",offsetLeft:30,list:[
		{type:"newcolumn"},
		{type:"button",name:"commit",value:"提交",offsetLeft:30},
		{type:"newcolumn"},
		{type:"button",name:"cancel",value:"重置",offsetLeft:30},
	]},
	{type:"newcolumn",name:"newcol1",offset:15},
	{type:"fieldset",name:"ip_bak",label:"IP备案附加信息",width:420,list:[
		{type:"label",name:"readme",label:"说明：表中数据为推荐值，均可修改<br><br><br><br><br>",labelWidth:230,offsetLeft:20,offsetTop:17,readonly:true},
	    {type:"checkbox",name:"ifOnu",label:"onu带的业务",labelWidth:80,labelAlign:"right",position:"label-right",offsetLeft:20,list:[
	    	{type:"settings",labelWidth:130,inputWidth:200},
	        {type:"input",name:"oltName",label:"olt名称",/*note:{text:"如果下拉菜单搜不到请直接输入。"},*/required:true},
	    ]},
	    {type:"settings",labelWidth:130,inputWidth:200},
	    {type:"block",inputWidth:"auto",offsetLeft:0,list:[
	    	{type:"input",name:"aPerson",label:"信息申请人",value:"{$Think.session.user.name}",readonly:true},
			{type:"input",name:"aEmail",label:"信息申请人邮箱",value:"{$Think.session.user.email}",readonly:true},
			{type:"combo",name:"unitProperty",label:"单位性质id",required:true},
			{type:"combo",name:"unitCategory",label:"单位分类id",required:true},
			{type:"combo",name:"industryCategory",label:"行业分类id",required:true},
			{type:"combo",name:"credential",label:"使用单位证件类型id",required:true},
			{type:"input",name:"credentialnum",label:"使用单位证件号",required:true},
			{type:"combo",name:"province",label:"所在省id",required:true},
			{type:"combo",name:"city",label:"所在市id",required:true},
			{type:"combo",name:"county",label:"所在县区id",required:true},
			{type:"combo",name:"appServType",label:"应用服务类型id",required:true},
		]},
	]},
	{type:"block",inputWidth:"auto",offsetLeft:100,list:[
		{type:"button",name:"test",value:"测试数据"},
	]},
];
var ipStructure = {type:"label",name:"ipStructure",label:"填写分配信息",list:[
	{type:"input",label:"vlan",name:"vlan"/*,validate:"^[2-3][0-9]{3}$",required:true*/},
	{type:"input",label:"互联ip",name:"ip",validate:"ipstr",required:true},
	{type:"input",label:"业务ip",name:"ipB",validate:"ipstr"}
]};
var buttons = {type:"button",name:"auto_pre",value:"自动预分配"};
function initCombo(){
	var combo;
	for (var cfg_d in config["default"]){
		myForm.reloadOptions(cfg_d,config["default"][cfg_d]);
		myForm.getCombo(cfg_d) && myForm.getCombo(cfg_d).enableFilteringMode("between");
	}
	for (var cfg_m in config["muticolumn"]){
		combo = myForm.getCombo(cfg_m);
		if(null == combo){
			continue;
		}
		combo.clearAll();
		combo.setTemplate({
			input:"#id#-#MC#",
			//header:false,//if you want to hide header
			columns:[
				{header:"id",width:60,option:"#id#"},
				{header:"MC",width:180,option:"#MC#"}
			]
		});
		combo.addOption(config["muticolumn"][cfg_m]);
		combo.enableFilteringMode("between");
	}
	/* myForm.attachEvent("onButtonClick", function(id){
		
	}*/
}
</script>