<div class="weui-tabbar">
	<a href="/trouble/index/view" class="weui-tabbar__item ">
		<div class="weui-tabbar__icon">
			<img src="__STATIC__/jquery-weui/images/icon_nav_button.png" alt="">
		</div>
		<p class="weui-tabbar__label">首页</p>
	</a> <a href="/trouble/index/todo" class="weui-tabbar__item">
		<div class="weui-tabbar__icon">
			<img src="__STATIC__/jquery-weui/images/icon_nav_select.png" alt="">
		</div>
		<p class="weui-tabbar__label">代办</p> <span class="weui-badge"
		style="position: absolute; top: -.4em; right: 1em;">{$badge|default=0}</span>
	</a><a href="/trouble/index/new" class="weui-tabbar__item ">
		<div class="weui-tabbar__icon">
			<img src="__STATIC__/jquery-weui/images/icon_nav_plus.png" alt="">
		</div>
		<p class="weui-tabbar__label">新建</p>
	</a> <a href="/trouble/index/setting" class="weui-tabbar__item">
		<div class="weui-tabbar__icon">
			<img src="__STATIC__/jquery-weui/images/icon_nav_article.png" alt="">
		</div>
		<p class="weui-tabbar__label">设置</p>
	</a> <a href="/trouble/index/my" class="weui-tabbar__item">
		<div class="weui-tabbar__icon">
			<img src="__STATIC__/jquery-weui/images/icon_nav_cell.png" alt="">
		</div>
		<p class="weui-tabbar__label">我的</p>
	</a>
</div>