sudo: true
dist: trusty
group: deprecated-2017Q4
language: php
php:
 - '5.6'
 - '7.1'
 
install:
 - composer install
 - wget https://github.com/yuxianda/phpweb/releases/download/v0.4.1/static_0.4.1.7z
 - apt-get install p7zip
 - 7z x -opublic/static static_0.4.1.7z

script:
 - php think optimize:config
