{extend name="common@Public/base" /}{block name="head"}
<link rel="STYLESHEET" type="text/css"
	href="__STATIC__/handsontable-pro/handsontable.full.min.css">
<script src="__STATIC__/handsontable-pro/handsontable.full.min.js"></script>
{/block} {block name="leftmenu"} {include
file="c/leftmenu_zx_apply_index" /} {/block}{block name="main"}
<div class="htmltitle">
	<h2>专线申请表填写-v2</h2>
</div>
<p>
	请根据<span><a href="" title='点击下载'>模板</a></span>样式，将数据（不带标题，可多行）直接粘贴至下面，
</p>
<p>
	然后点击
	<button id="btn_submit" class="btn btn-primary">提交</button>
</p>
<div id="inp_area"></div>
<!-- <div id="griddiv" style="height: 100%;overflow: auto;"><div id="gridbox"></div></div>
<div id="myForm" style="width: 450px;"></div> -->
{/block} {block name="script"}
<script>
	$(function() {
		//
	});	
	var container = document.getElementById('inp_area');
	var hot = new Handsontable(container, {
      data: [[" "," "," "," "," "," "," "," "," "," "," "," "," "," "," "," "," "]],
	  rowHeaders: true,
	  colHeaders: ["产品实例标识","专线类别","带宽","网元厂家","A端基站","客户名","客户地址","客户需求","客户联系人姓名","客户联系人电话","客户联系人邮箱","客户经理姓名","客户经理电话","客户经理邮箱","单位性质","备注","是否走onu","olt名称","标签"],
	  filters: true,
	  dropdownMenu: true,
	  minSpareRows: 1,
	  minSpareCols: 2
	});
</script>
{/block}
