{extend name="common@Public/base" /} {block name="head"}
<link rel="STYLESHEET" type="text/css"
	href="__STATIC__/handsontable-pro/handsontable.full.min.css">
<script src="__STATIC__/handsontable-pro/handsontable.full.min.js"></script>
{/block} {block name="leftmenu"} {include
file="Common/leftmenu_zx_apply_manage" /} {/block} {block name="main"}
<div class="htmltitle">
	<h2>信息查询</h2>
</div>
<div style="margin-bottom: 3px;">
	<form class="form-inline" onsubmit="javascript:return false;">
		<div class="form-group has-success">
			<label for="searchStr">全局搜索</label> <input type="text"
				class="form-control" id="searchStr">
		</div>
		<button id="btn-search" type="submit" class="btn btn-default">搜索</button>
		<div id="tips" class="form-group"
			style="display: none; margin-left: 20px;">
			<span id="tips-text" class="text-primary"></span>
			<button id="tips-btn" class="btn btn-xs btn-primary">定位到下一个</button>
		</div>
		<div id="tips-msg" class="form-group text-muted"
			style="margin-left: 20px;"></div>
	</form>
</div>
<div class="fixed-container" style="overflow: hidden;visibility: hidden;">
	<div id='queryTable'></div>
</div>
{/block} {block name="script"}
<script>
	$(function($) {
		//$(".wtHolder")[0].style.height="";	//修复wtHolder层（handsontable右键菜单）height过大。
		$(".fixed-container").css("height",(_htmlHeight-170)+"px");
		initHandsontable(infoData);
		initSearch();
		
	});
	$(".fixed-container").css("visibility","");
	/*var _tt = {0:"数据加载完毕~",1:"one",2:"two",3:"three",4:" ",t:4};
	dhtmlx.message({id:"_msg",text:"数据加载中。。。"});
	var xx =  Date.now();
	var _loading = setInterval(function(){
		if(_tt.t<0){
			$(".fixed-container").css("visibility","");
			clearInterval(_loading);
			return;
		}
		xx=Date.now();
		dhtmlx.message.hide("_msg");
		dhtmlx.message({id:"_msg",text:_tt[_tt.t]});
		_tt.t--;
	},800);*/
	function win_close(){
		dhxWins.window("_input").close();
		$("#inp_area textarea").select();
	}
	(function(Handsontable) {
		function ipstr(value, callback) {
			if(value==null||value.length==0){
				callback(true);
				return;
			}
			var a = value.split("/");
			var c = a[0].toString().match(
					/^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/);
			var b = a.length == 1 ? true : a.length > 2 ? false
					: parseInt(a[1]) <= 32 && a[1].match(/^\d{0,2}$/);
			callback(!!c
					&& !!(c[1] <= 255 && c[2] <= 255 && c[3] <= 255 && c[4] <= 255)
					&& !!b || false);
		}
		Handsontable.validators.registerValidator('my.ipstr', ipstr);
	})(Handsontable);
	var colWidthsData = "{$colWidthsData}";
	var zxTypeData = "互联网,营业厅,平安校园,点对点,卫生网,教育网,IMS,其他";
	//var aStationData = "柴河局,西丰新局,西丰老局,昌图新局,昌图老局,开原老局,开原新局,清河,调兵山新局,铁岭县,银州区";
	var aStationData = "{$aStationData}";
	var neFactoryData = "华为,中兴";
	var colHeaderData = "{$colHeaderData}";
	var container = document.getElementById('queryTable');
	var infoData, hot, columnsData, contextMenuData;
	//infoData = [ new Array(34) ];
	infoData = {$data};
	columnsData = [ {
		data : 'instanceId',
		type : 'numeric'
	}, {
		data : 'zxType',
		editor : 'select',
		selectOptions : zxTypeData.split(","),
	}, {
		data : 'bandWidth',
	}, {
		data : 'neFactory',
		editor : 'select',
		selectOptions : neFactoryData.split(","),
	}, {
		data : 'aStation',
		strict : true,
		type : 'autocomplete',
		source : aStationData.split(","),
		//editor : 'select',
		//selectOptions : aStationData.split(","),
	}, {
		data : 'cName',
	//}, {
	//	data : 'cAddress',
	//}, {
	//	data : 'cNeeds',
	}, {
		data : 'vlan',
		type : 'numeric',
	}, {
		data : 'ip',
		validator : "my.ipstr"
	}, {
		data : 'ipB',
		validator : "my.ipstr"
	//}, {
	//	data: 'cPerson',
	//}, {
	//	data: 'cPhone',
	//}, {
	//	data: 'cEmail',
	//}, {
	//	data: 'mPerson',
	//}, {
	//	data: 'mPhone',
	//}, {
	//	data: 'mEmail',
	}, {
		data: 'marks',
	}, {
		data: 'ifOnu',
	//}, {
	//	data: 'oltName',
	}, {
		data: 'aPerson',
		readOnly: true
	}, {
		data: 'aEmail',
		readOnly: true
	}, {
		data: 'create_time',
		type : "date",
		dateFormat : "YYYY-MM-DD",
		correctFormat : true,
		validator : "date",
		readOnly: true
	//},  {
	//	data: 'status',
	//}, {
	//	data: 'tags',
	}, {
		data: 'extra.unitProperty',
		type : 'numeric',
	}, {
		data: 'extra.unitCategory',
		type : 'numeric',
	}, {
		data: 'extra.industryCategory',
		type : 'numeric',
	}, {
		data: 'extra.credential',
		type : 'numeric',
	}, {
		data: 'extra.credentialnum',
	}, {
		data: 'extra.province',
		type : 'numeric',
	}, {
		data: 'extra.city',
		type : 'numeric',
	}, {
		data: 'extra.county',
		type : 'numeric',
	}, {
		data: 'extra.appServType',
		type : 'numeric',
	} ];
	function initHandsontable(infoData){
		if(typeof(hot)!="undefined")
			hot=null;
		container.innerHTML=null;
		hot = new Handsontable(container, {
			data : infoData,
			rowHeaders : true,
			colWidths : colWidthsData.split(","),
			//autoColumnSize : true,
			//filters : true,
			search : true,
			//minSpareRows : 1,
			manualColumnResize : true,
			colHeaders : colHeaderData.split(","),
			columns : columnsData
		});
		hot.validateCells();
		hot.updateSettings({
			contextMenu: {
				callback : function(key, options) {
					if (key === 'about') {
						setTimeout(function() {
							// timeout is used to make sure the menu collapsed before alert is shown
							parent.dhtmlx.alert({
								title : "特别鸣谢",
								text : "本菜单由 Xianda 汉化。感谢Xianda"
							});
						}, 100);
					}
				},
				items : {
					"about" : {
						name : "**Power by Xianda"
					},
					"hsep1" : "---------",
					"row_above" : {
						name : "在上面插入一行"
					},
					"row_below" : {
						name : "在下面插入一行"
					},
					"hsep1" : "---------",
					"col_left" : {
						name : "在左侧插入一列"
					},
					"col_right" : {
						name : "在右侧插入一列"
					},
					"hsep2" : "---------",
					"remove_row" : {
						name : "移除此行"
					},
					"remove_col" : {
						name : "移除次列"
					},
					"hsep3" : "---------",
					"undo" : {
						name : "撤销"
					},
					"redo" : {
						name : "还原"
					},
					"make_read_only" : {
						name : "设为只读"
					},
					"alignment" : {
						name : "对齐"
					},
				},
			}
		});
		hot.updateSettings({
			afterOnCellMouseDown: function(event,coords,td){
				console.log(event,coords,td);
				showDetail(coords);
			},
		});
	}
	function initSearch(){
		/* 搜索按钮 */
		$("#btn-search").on("click",function(){
			var str = $("#searchStr").val();
			if(str == ""){
				showTips("");
			}else{
				var result = hot.search.query(str);
				result.length == 0 && showTips("未找到");
				result.length > 0 && selectCell(result);
				sessionStorage.setItem("result",JSON.stringify(result));
				sessionStorage.setItem("index",0);
			}
		});
		/* 定位下一个按钮 */
		$("#tips-btn").on("click",function(){
			var result = JSON.parse(sessionStorage.getItem("result"));
			var index = parseInt(sessionStorage.getItem("index"));
			if(++index == result.length){
				index = 0;
				dhtmlx.message("返回到第一个搜索结果");
			}
			sessionStorage.setItem("index",index);
			hot.selectCell(result[index].row,result[index].col);
			hot.selectCell(result[index].row,result[index].col);
			$(".wtHolder")[0].scrollBy(0,50);
			showTips("当前定位到第"+(index+1)+"个结果。",result.length);
		});
	}
	function selectCell(result){
		hot.selectCell(result[0].row,result[0].col);
		hot.selectCell(result[0].row,result[0].col);
		if(result.length==1){
			//sessionStorage.removeItem("result");
			showTips("1个结果。");
		}else{
			showTips("可以继续定位到下一个。",result.length);
		}
		$(".wtHolder")[0].scrollBy(0,30);
	}
	function showTips(msg,muti){
		if(typeof(muti)!="undefined"){
			$("#tips-msg").html(msg);
			$("#tips").fadeIn(500);
			$("#tips-text").html("找到 "+muti+" 个结果。");
		}else{
			$("#tips-msg").html(msg);
			$("#tips").fadeOut(500);
		}
	}
	function showDetail(coords){
		var d = infoData[coords.row];
		var keys = {"instanceId":"实例标识","cName":"客户名","cAddress":"客户地址","cNeeds":"客户需求","cPerson":"客户联系人","cPhone":"客户电话","cEmail":"客户邮箱","mPerson":"客户经理","mPhone":"客户经理电话","mEmail":"客户经理邮箱","tags":"标签"};
		var str = "<p style='padding:5px;'>";
		for(var i in keys){
			str += "<b>"+keys[i]+"</b>： "+d[i]+"<br>";
		}
		str += "</p>";
		$("detail").html(str);;
		if(dhxWins.isWindow("_input")){
			dhxWins.window("_input").close();
		}
		dhxWins.createWindow("_input",0,50,400,_htmlHeight*0.5);
		var text = "详细信息&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='win_close()'>点此关闭</a>";
		dhxWins.window("_input").setText(text);
		dhxWins.window("_input").attachHTMLString(str);
	}
</script>
{/block}
