{extend name="common@Public/base" /} {block name="head"}
<link rel="STYLESHEET" type="text/css"
	href="__STATIC__/handsontable-pro/handsontable.full.min.css">
<script src="__STATIC__/handsontable-pro/handsontable.full.min.js"></script>
{/block} {block name="leftmenu"} {include
file="Common/leftmenu_zx_apply_manage" /} {/block} {block name="main"}
<div class="htmltitle">
	<h2>信息查询</h2>
</div>
<div>
上方显示搜索框、
<br>
query 显示全量，默认定位到最新日期。


</div>
<div id='example'></div>
<div id='example1'></div>

11
{/block} {block name="script"}
<script>
$(function($){
	//$(".wtHolder")[0].style.height="";	//修复wtHolder层height过大。
});
var colWidthsData = "98,96,65,50,65,100,180,220,450,50,116,107,107,164,93,96,164,50,75,76,76,76,132,107,62,62,76,104";
var zxTypeData = "互联网,营业厅,平安校园,点对点,卫生网,教育网,IMS,其他";
//var aStationData = "柴河局,西丰新局,西丰老局,昌图新局,昌图老局,开原老局,开原新局,清河,调兵山新局,铁岭县,银州区";
var aStationData = "{$aStation}";
var neFactoryData = "华为,中兴";
var colHeaderData = [];
var container = document.getElementById('inp_area');
var infoData = []; // 用于保存hot的初始数据
var hot;
</script>
{/block}
