{extend name="common@Public/base" /} {block name="head"}
<link rel="STYLESHEET" type="text/css"
	href="__STATIC__/handsontable-pro/handsontable.full.min.css">
<script src="__STATIC__/handsontable-pro/handsontable.full.min.js"></script>
{/block} {block name="leftmenu"} {include
file="Common/leftmenu_zx_apply_manage" /} {/block} {block name="main"}
<div class="htmltitle">
	<h2>信息查询</h2>
</div>
<div style="margin-bottom: 3px;">
	<form class="form-inline" onsubmit="javascript:return false;">
		<div class="form-group has-success">
			<select id="colName" class="form-control">
				<option value="cName">客户名</option>
				<option value="ip">ip</option>
				<option value="instanceId">实例标识</option>
				<option value="create_time">申请时间</option>
			</select> <input type="text" class="form-control" id="searchStr">
		</div>
		<button id="btn-search" type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="当前页搜索不限制列名，可搜索任意字段">当前页搜索</button>
		<button id="btn-searchAll" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="全局搜索需根据列名搜索">全局搜索</button>
		<div id="tips" class="form-group"
			style="display: none; margin-left: 20px;">
			<span id="tips-text" class="text-primary"></span>
			<button id="tips-btn" class="btn btn-xs btn-primary">定位到下一个</button>
		</div>
		<div id="tips-msg" class="form-group text-muted"
			style="margin-left: 20px;"></div>
	</form>
</div>
<div class="fixed-container"
	style="overflow: hidden; visibility: hidden;">
	<div id='queryTable'></div>
</div>
{/block} {block name="script"}
<script>
	$(function($) {
		//$(".wtHolder")[0].style.height="";	//修复wtHolder层（handsontable右键菜单）height过大。
		$(".fixed-container").css("height",(_htmlHeight-170)+"px");
		var tt = Date.now();
		initHandsontable(infoData);
		initSearch();
		console.info("\t\t渲染用时:", Date.now() - tt, "ms");
		hot.initTimes = Date.now();
		$('[data-toggle="tooltip"]').tooltip();
	});
	//$(".fixed-container").css("visibility","");
	//var _tt = {0:"数据加载完毕~",1:"one",2:"two",3:"three",4:" ",t:4};
	dhtmlx.message({id:"_msg",text:"loading..."});
	var xx =  Date.now();
	var _loading = setTimeout(function(){
		/*if(_tt.t<0){
			$(".fixed-container").css("visibility","");
			clearInterval(_loading);
			return;
		}
		xx=Date.now();
		dhtmlx.message.hide("_msg");
		dhtmlx.message({id:"_msg",text:_tt[_tt.t]});
		_tt.t--;*/
		dhtmlx.message.hide("_msg");
		dhtmlx.message({id:"_msg",text:"数据加载完毕~<hr>数据验证用时:    "+(Date.now()-hot.initTimes)/1000+" s"});
		$(".fixed-container").css("visibility","");
		console.info("\t\t数据验证用时:", Date.now() - hot.initTimes, "ms");
	},500);
	(function(Handsontable) {
		function ipstr(value, callback) {
			if(value==null||value.length==0){
				callback(true);
				return;
			}
			var a = value.split("/");
			var c = a[0].toString().match(
					/^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/);
			var b = a.length == 1 ? true : a.length > 2 ? false
					: parseInt(a[1]) <= 32 && a[1].match(/^\d{0,2}$/);
			callback(!!c
					&& !!(c[1] <= 255 && c[2] <= 255 && c[3] <= 255 && c[4] <= 255)
					&& !!b || false);
		}
		Handsontable.validators.registerValidator('my.ipstr', ipstr);
	})(Handsontable);
	var colWidthsData = "{$colWidthsData}";
	var zxTypeData = "互联网,营业厅,平安校园,点对点,卫生网,教育网,IMS,其他";
	//var aStationData = "柴河局,西丰新局,西丰老局,昌图新局,昌图老局,开原老局,开原新局,清河,调兵山新局,铁岭县,银州区";
	var aStationData = "{$aStationData}";
	var neFactoryData = "请选择,华为,中兴";
	var colHeaderData = "{$colHeaderData}";
	var container = document.getElementById('queryTable');
	var infoData, hot, columnsData, contextMenuData;
	//infoData = [ new Array(34) ];
	infoData = {$data};
	columnsData = [ {
		data : 'instanceId',
		type : 'numeric'
	}, {
		data : 'zxType',
		editor : 'select',
		selectOptions : zxTypeData.split(","),
	}, {
		data : 'bandWidth',
	}, {
		data : 'neFactory',
		editor : 'select',
		selectOptions : neFactoryData.split(","),
	}, {
		data : 'aStation',
		strict : true,
		type : 'autocomplete',
		source : aStationData.split(","),
		//editor : 'select',
		//selectOptions : aStationData.split(","),
	}, {
		data : 'cName',
		allowEmpty: false
	//}, {
	//	data : 'cAddress',
	//}, {
	//	data : 'cNeeds',
	}, {
		data : 'vlan',
		type : 'numeric',
		allowEmpty: false
	}, {
		data : 'ip',
		validator : "my.ipstr",
	}, {
		data : 'ipB',
		validator : "my.ipstr"
	//}, {
	//	data: 'cPerson',
	//}, {
	//	data: 'cPhone',
	//}, {
	//	data: 'cEmail',
	//}, {
	//	data: 'mPerson',
	//}, {
	//	data: 'mPhone',
	//}, {
	//	data: 'mEmail',
	}, {
		data: 'marks',
	}, {
		data: 'ifOnu',
	//}, {
	//	data: 'oltName',
	}, {
		data: 'aPerson',
		readOnly: true
	}, {
		data: 'aEmail',
		readOnly: true
	}, {
		data: 'create_time',
		type : "date",
		dateFormat : "YYYY-MM-DD",
		correctFormat : true,
		validator : "date",
		readOnly: true
	//},  {
	//	data: 'status',
	//}, {
	//	data: 'tags',
	}, {
		data: 'extra.unitProperty',
		type : 'numeric',
	}, {
		data: 'extra.unitCategory',
		type : 'numeric',
	}, {
		data: 'extra.industryCategory',
		type : 'numeric',
	}, {
		data: 'extra.credential',
		type : 'numeric',
	}, {
		data: 'extra.credentialnum',
	}, {
		data: 'extra.province',
		type : 'numeric',
	}, {
		data: 'extra.city',
		type : 'numeric',
	}, {
		data: 'extra.county',
		type : 'numeric',
	}, {
		data: 'extra.appServType',
		type : 'numeric',
	} ];
	function initHandsontable(infoData){
		if(typeof(hot)!="undefined")
			hot=null;
		container.innerHTML=null;
		hot = new Handsontable(container, {
			data : infoData,
			rowHeaders : true,
			colWidths : colWidthsData.split(","),
			//autoColumnSize : true,
			//filters : true,
			search : true,
			//minSpareRows : 1,
			manualColumnResize : true,
			colHeaders : colHeaderData.split(","),
			columns : columnsData
		});
		hot.validateCells();
		hot.updateSettings({
			contextMenu: {
				callback : function(key, options) {
					if (key === 'about') {
						setTimeout(function() {
							// timeout is used to make sure the menu collapsed before alert is shown
							parent.dhtmlx.alert({
								title : "特别鸣谢",
								text : "本菜单由 Xianda 汉化。感谢Xianda"
							});
						}, 100);
					}
					var r=new RegExp(','+key+',');
					if(r.test(',script,export_zg,export_jtip,export_gxbip,')){
						put(key);
					}
					/*else if (key === 'script') {
						put(script);
					}
					else if (key === 'export_zg') {
						put(export_zg);
					}
					else if (key === 'export_jtip') {
						put(export_jtip);
					}
					else if (key === 'export_gxbip') {
						put(export_gxbip);
					}*/
					
				},
				items : {
					"about" : {
						name : "**Power by Xianda"
					},
					"hsep1" : "---------",
					"script": {
						name : "1.单条数据制作脚本生成",
						disabled: function(){
							var a = hot.getSelected()[0] === hot.getSelected()[2];
							return !a || !hot.currentRowValid.valid;
						}
					},
					"export_zg": {
						name : "2.资管模板数据导出"
					},
					"export_jtip": {
						name : "3.集团IP备案数据导出"
					},
					"export_gxbip": {
						name : "4.工信部IP备案数据导出"
					},
					/*"row_above" : {
						name : "在上面插入一行"
					},
					"row_below" : {
						name : "在下面插入一行"
					},
					"hsep1" : "---------",
					"col_left" : {
						name : "在左侧插入一列"
					},
					"col_right" : {
						name : "在右侧插入一列"
					},
					"hsep2" : "---------",
					"remove_row" : {
						name : "移除此行"
					},
					"remove_col" : {
						name : "移除次列"
					},
					"hsep3" : "---------",*/
					"undo" : {
						name : "撤销"
					},
					"redo" : {
						name : "还原"
					},
					"make_read_only" : {
						name : "设为只读"
					},
					"alignment" : {
						name : "对齐"
					},
				},
			}
		});
		hot.updateSettings({
			afterSelectionEndByProp: function (r, c, r2, c2) {
				if(r == r2 && c == c2 && !dhxWins.isWindow("ccc")){
					//console.log(r, c, r2, c2);
					showDetail(r);
				}
			},
			afterOnCellMouseOver: function(event,coords,td){
				//console.log(event,coords,td);
				hot.validateRows([coords.row],function(valid){
					hot.currentRowValid = {row: coords.row,valid: valid};	// 触发设置当前行的验证结果
				});
			},
		});
	}
	function initSearch(){
		/* 当前页搜索按钮 */
		$("#btn-search").on("click",function(){
			var str = $("#searchStr").val();
			if(str == ""){
				showTips("");
			}else{
				var result = hot.search.query(str);
				result.length == 0 && showTips("未找到");
				result.length > 0 && selectCell(result);
				sessionStorage.setItem("result",JSON.stringify(result));
				sessionStorage.setItem("index",0);
			}
		});
		/* 数据库搜索按钮 */
		$("#btn-searchAll").on("click",function(){
			var str = $("#searchStr").val();
			if(str == ""){
				showTips("");
				$.post("",{r:"info"},function(data){
					infoData = data;
					hot.updateSettings({data: infoData});
					hot.validateCells();
				});
			}else{
				showTips("");
				var _where = [];
				_where[0] = $("#colName").val();
				_where[2] = str;
				$.post("",{r:"search",where:_where},function(data){
					infoData = data;
					hot.updateSettings({data: infoData});
					hot.validateCells();
				});
			}
		});
		/* 定位下一个按钮 */
		$("#tips-btn").on("click",function(){
			var result = JSON.parse(sessionStorage.getItem("result"));
			var index = parseInt(sessionStorage.getItem("index"));
			if(++index == result.length){
				index = 0;
				dhtmlx.alert("返回到第一个搜索结果");
			}
			sessionStorage.setItem("index",index);
			hot.selectCell(result[index].row,result[index].col);
			hot.selectCell(result[index].row,result[index].col);
			//!!index && $(".wtHolder")[0].scrollBy(0,50);
			showTips("当前定位到第"+(index+1)+"个结果。",result.length);
		});
	}
	/* 定位数据 */
	function selectCell(result){
		hot.selectCell(result[0].row,result[0].col);
		hot.selectCell(result[0].row,result[0].col);
		if(result.length==1){
			//sessionStorage.removeItem("result");
			showTips("1个结果。");
		}else{
			showTips("可以继续定位到下一个。",result.length);
		}
	}
	/* 按钮后面的提示信息 */
	function showTips(msg,muti){
		if(typeof(muti)!="undefined"){
			$("#tips-msg").html(msg);
			$("#tips").fadeIn(500);
			$("#tips-text").html("找到 "+muti+" 个结果。");
		}else{
			$("#tips-msg").html(msg);
			$("#tips").fadeOut(500);
		}
	}
	/* 显示单条数据详细信息 */
	function showDetail(row){
		if(row<0){
			checkWindows("_input");
			return;
		}
		var d = infoData[row];
		var keys = {"instanceId":"实例标识","cName":"客户名","cAddress":"客户地址","cNeeds":"客户需求","cPerson":"客户联系人","cPhone":"客户电话","cEmail":"客户邮箱","mPerson":"客户经理","mPhone":"客户经理电话","mEmail":"客户经理邮箱","tags":"标签","marks":"备注"};
		var str = "<p style='padding:5px;'>";
		for(var i in keys){
			str += "<b>"+keys[i]+"</b>： "+d[i]+"<br>";
		}
		str += '</p><hr><p class="h3 bg-info">更多操作尽在右键菜单</p>';
		str = str.replace(/null/g,"");
		$("detail").html(str);
		if(dhxWins.isWindow("_input")){
			dhxWins.window("_input").attachHTMLString(str);
			return;
		}
		dhxWins.createWindow("_input",0,50,400,600);
		var text = "详细信息&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='checkWindows(\"_input\")'>点此关闭</a>";
		dhxWins.window("_input").setText(text);
		dhxWins.window("_input").attachHTMLString(str);
	}
	/* 获取当前选择列的ids return Array */
	function getSelectedIds(){
		if(hot.getSelected() === undefined){
			return;
		}
		var hotData = hot.getSourceData();
		var ids = [];
		for(var i = hot.getSelectedRange().from.row; i <= hot.getSelectedRange().to.row; i++){
			ids.push(hotData[i].id);
		}
		return ids;
	}
	/* 右键菜单操作 */
	/************************/
	function put(key){
		$.post("",{_method: "PUT",r: key,id: getSelectedIds()},function(data){
			eval(key)(data);
		});
	}
	function script(scriptArr){
		window.postScript=scriptArr;
		if(typeof(show_bas)=="undefined"){
			// 加载一次。
			$.get("../Tool/_script.html",function(data){
				$(".content").append(data);
				showScript(scriptArr);
			});
		}else{
			showScript(scriptArr);
		}
		checkWindows("_input");
	}
	function showScript(scriptArr){
		if(typeof(scriptArr.bas01!="undefined")){
			show_bas("01",scriptArr.bas01);
		}
		if(typeof(scriptArr.bas02!="undefined")){
			show_bas("02",scriptArr.bas01);
		}
		if(typeof(scriptArr.the93!="undefined")){
			show_9312(scriptArr.the93[0],scriptArr.the93[1]);
		}
	}
	function export_zg(data){
		eval(data)(1);
	}
	function export_jtip(data){
		console.log(arguments);
		data == 1 && console.table({a:1,b:2});
	}
	function export_gxbip(){
		
	}
	/************************/
	function checkWindows(id){
		dhxWins.isWindow(id) && dhxWins.window(id).close();
	}
</script>
{/block}
