{extend name="common@Public/base" /} {block name="leftmenu"} {include
file="Common/leftmenu_zx_apply_manage" /} {/block} {block name="head"}
<style>
#list_container {
	width: 250px;
	border-right: 1px solid #666
}

#form_container {
	position: absolute;
	top: 10px;
	left: 250px;
	width: 800px;
	height: auto;
	/*border: 1px solid #f00;*/
}
</style>
{/block} {block name="main"}
<div class="htmltitle">
	<h2>待办工作</h2>
	<div>
		<p>点击列表，查看明细，并进行操作。</p>
	</div>
</div>

<div id="list_container"></div>
<div id="form_container">
	<div id="myForm_tip">
		<p style="color: blue; padding: 150px 50px;">点击左侧列表查看详细信息</p>
	</div>
</div>
{/block} {block name="script"}
<script>
	$("#list_container").css("height",
			$(".main").height() - $(".htmltitle").height() - 30 - 10 + "px");
	//h2的margin、底部预留10
	var myList = new dhtmlXList(
			{
				container : "list_container",
				type : {
					template : "<b style='color:blue;'>#cName#</b><br/>#create_time#&nbsp;&nbsp;#aPerson#<br/><span style='color:#9c49f5'>#instanceId#&nbsp;&nbsp;#zxType#&nbsp;&nbsp;#aStation#</span>",
					height : 70
				},
				select: true,
			});
	//var dataList = {data:{$list}};	//此形式便于 myList.parse()使用
	var dataList = {$list};
	myList.parse(dataList,"json");
	//myList.define("select",true);	//单选模式。（multiselect为多选）
	$("#myForm").html($("#myForm_tip").html());
	var myForm,evId;
	// 绑定点击 list Item 事件
	myList.attachEvent("onAfterSelect", function(id) {
		dhtmlx.message({text:"申请单号："+id});
		var index = myList.indexById(id);
		var formData = dataList[index];
		//form_init(formData);	//初始化
		$.post("?req=getDetail",{"id":id},function(dData){
			if(dData.url){
				dhtmlx.alert({text:"登陆超时！",callback:function(){location.href=dData.url;}});
			}
			if(typeof _formAjax != "undefined"){
				form_init(dData);
			}else{
				$.get("../Common/_formStructure.html",function(data1){
					$("body").after(data1);
					formStructure[2].list.unshift(buttons);
					$.get("../Common/_formConfig.html",function(data2){
						$("body").append(data2);
						window._formAjax=1;
						form_init(dData);
					});
				});
			}
		});
	});
/**
 * 初始化 表单
 */
function form_init(formData){
	//sessionStorage.setItem("formData",JSON.stringify(formData));
	$("#form_container").html("");
	myForm = null;
	myForm = new dhtmlXForm('form_container',formStructure);
	myForm.addItem("ip_bak",ipStructure,0,0);
	myForm.removeItem("readme");
	myForm.enableLiveValidation(true);
	initCombo();
	myForm.loadStruct({data: formData});	//加载数据
	sessionStorage.setItem("formDataBackups",myForm.saveBackup());
	//formStructure = null;
	evId == null ||	myForm.detachEvent("evId");
	evId = myForm.attachEvent("onButtonClick", function(id){
		var mainId = myList.getSelected();
		if(id=="auto_pre"){
			myForm.disableItem("ipStructure");
			var valid = myForm.validate();
			myForm.enableItem("ipStructure")
			if(!valid){
				dhtmlx.alert("请检查数据是否有效，然后重试");
				return ;
			}
			//var data = {id: myForm.getFormData().id};
			$.post("?req=auto_pre",myForm.getFormData(),function(d){
				myForm.setItemValue("vlan",d.preVlan);
				myForm.setItemValue("ip",d.genIp);
				if(typeof calculateUsedVlans =='function'){
					showUsedVlans(d);
				}else{
					$.get("../Common/_calculateUsedVlans.html",function(data){
						$("body").append(data);
						showUsedVlans(d);
					});
				}
			});
		}else if(id=="commit"){
			if(myForm.validate()){
				var myData = myForm.getFormData();
				var emailData = {
						id: myData.id,
						address: myData.aEmail,
						zxType: myData.zxType,
						cName: myData.cName,
						vlan: myData.vlan,
						ip: myData.ip,
						ipB: myData.ipB
				};
				sessionStorage.setItem("emailData",JSON.stringify(emailData));
				$.post("?req=distribution",myData,function(data){
					if(data.url){
						dhtmlx.alert({text:"登陆超时！",callback:function(){location.href=data.url;}});
					}
					dhtmlx.message({
						type: ["alert-warning", "confirm", "alert"][data.code],
						title: "&nbsp;",
						text: data.msg + (data.code ? "" : "已分配给:<br>" + data.data),
						callback: function(result){
							if(data.code != 1) return;	// 已给提示
							result && sendResultEmail();
							myList.clearAll();
							data.data && myList.parse(data.data,"json");
							$("#form_container").html("");
						},
					});
					setTimeout(function(){
						if($(".dhtmlx_popup_button div:last")[0]){
							$(".dhtmlx_popup_button div:last")[0].click();
						}
					},20000);
				});
			}else{
				dhtmlx.alert({type: "alert-error", title: "数据验证有误", text: "请检查填写是否完整或格式类型是否正确。"});
			}
		} else if(id=="cancel"){
			//form_init(JSON.parse(sessionStorage.getItem("formData")));
			myForm.restoreBackup(sessionStorage.getItem("formDataBackups"));
			dhtmlx.message("表单已重置");
		} else if(id){
			dhtmlx.alert({type:"alert-warning",title:"warning",text:"按钮事件未定义："+id});
		}
	});
}
/* 显示已分配vlan */
function showUsedVlans(data){
	//dhtmlx.alert({width: "700px", title: d.device+" 已使用vlan(集客部分)", text: data});
	checkWindows("_vlans");
	var str = '<p class="text-primary" style="padding:15px;">'+calculateUsedVlans(data.usedVlans)+'</p>';
	var text = "<code>"+myForm.getItemValue("aStation")+data.device+"</code>已使用vlan(集客部分)&nbsp;&nbsp;&nbsp;&nbsp;<a onclick='checkWindows(\"_vlans\")'>点此关闭</a>";
	dhxWins.createWindow("_vlans",50,_htmlHeight-170,600,150);
	dhxWins.window("_vlans").setText(text);
	dhxWins.window("_vlans").attachHTMLString(str);
}
/* 发送[申请已处理]邮件 */
function sendResultEmail(){
	var data = JSON.parse(sessionStorage.getItem("emailData"));
	$.post("sendResultEmail.html",data,function(d){
		if(d.code){
			dhtmlx.message("邮件发送成功<br>"+JSON.parse(sessionStorage.getItem("emailData")).address);
		}else{
			dhtmlx.alert({title: "邮件发送失败", text: d.data});
		}
	});
}
/**
 * 验证是否符合ip字符串的格式:10.10.10.10/32
 */
function ipstr(value){
	var a = value.split("/");
	var c = a[0].toString().match(/^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/);
	var b = a.length==1?true:a.length>2?false:parseInt(a[1])<=32&&a[1].match(/^\d{0,2}$/);
	return c&&!!(c[1]<=255&&c[2]<=255&&c[3]<=255&&c[4]<=255)&&b||false;
}
function checkWindows(id){
	dhxWins.isWindow(id) && dhxWins.window(id).close();
}
</script>
{/block}
