{extend name="common@Public/base" /} {block name="leftmenu"} {include
file="Common/leftmenu_zx_apply_manage" /} {/block} {block name="head"}
<style>
#list_container {
	width: 250px;
	border-right: 1px solid #666
}

#form_container {
	position: absolute;
	top: 10px;
	left: 250px;
	width: 800px;
	height: auto;
	/*border: 1px solid #f00;*/
}
</style>
{/block} {block name="main"}
<div class="htmltitle">
	<h2>待办工作</h2>
	<div>
		<p>点击列表，查看明细，并进行操作。</p>
	</div>
</div>

<div id="list_container"></div>
<div id="form_container"></div>

<div id="myForm_tip" style="display: none;">
	<p style="color: blue; padding: 50px 50px;">点击左侧列表查看详细信息</p>
</div>
<script>
	$("#list_container").css("height",
			$(".main").height() - $(".htmltitle").height() - 30 - 10 + "px");
	//h2的margin、底部预留10
	var myList = new dhtmlXList(
			{
				container : "list_container",
				type : {
					template : "<b style='color:blue;'>#cName#</b><br/>#create_time#&nbsp;&nbsp;#aPerson#<br/><span style='color:#9c49f5'>#instanceId#&nbsp;&nbsp;#zxType#&nbsp;&nbsp;#aStation#</span>",
					height : 70
				},
				select: true,
			});
	//var dataList = {data:{$list}};	//此形式便于 myList.parse()使用
	var dataList = {$list};
	myList.parse(dataList,"json");
	//myList.define("select",true);	//单选模式。（multiselect为多选）
	$("#myForm").html($("#myForm_tip").html());
	var myForm,evId;
	// 绑定点击 list Item 事件
	myList.attachEvent("onAfterSelect", function(id) {
		dhtmlx.message({text:"申请单号："+id});
		var index = myList.indexById(id);
		var formData = dataList[index];
		//form_init(formData);	//初始化
		
		$.post("?req=getDetail",{"id":id},function(dData){
			if(dData.url){
				dhtmlx.alert({text:"登陆超时！",callback:function(){location.href=dData.url;}});
			}
			if(typeof _formAjax != "undefined"){
				form_init(dData);
			}else{
				$.get("../Common/_formStructure.html",function(data1){
					$("body").after(data1);
					$.get("../Common/_formConfig.html",function(data2){
						$("body").append(data2);
						window._formAjax=1;
						form_init(dData);
					});
				});
			}
		});
	});
	var ipStructure = {type:"label",label:"填写分配信息",list:[
		{type:"input",label:"vlan",name:"vlan",validate:"^[2-3][0-9]{3}$",required:true},
		{type:"input",label:"互联ip",name:"ip",validate:"ipstr",required:true},
		{type:"input",label:"业务ip",name:"ipB",validate:"ipstr"}
	]};
/**
 * 初始化 表单
 */
function form_init(formData){
	$("#form_container").html("");
	//formStructure;
	myForm = null;
	myForm = new dhtmlXForm('form_container',formStructure);
	//for(var i=0;i<ipStructure.length;i++){
		myForm.addItem("ip_bak",ipStructure,0,0);
	//}
	myForm.removeItem("readme");
	//myForm.setItemLabel("readme","填写分配信息");
	myForm.enableLiveValidation(true);
	initCombo();
	myForm.loadStruct({data: formData});	//加载数据
	//formStructure = null;
	evId == null ||	myForm.detachEvent("evId");
	evId = myForm.attachEvent("onButtonClick", function(id){
		var mainId = myList.getSelected();
		if(id=="commit"){
			if(myForm.validate()){
				var myData = myForm.getFormData();
				//myData["req"]="distribution";
				$.post("?req=distribution",myData,function(data){
					dhtmlx.alert({
						type: data.code ? "alert" : "alert-error",
						title: "&nbsp;",
						text: data.msg + (data.code ? "" :"<br>已分配给:" + data.data),
						callback: function(){
							//location.href = "query.html";
							if(data.code){
								myList.clearAll();
								data.data && myList.parse(data.data,"json");
								$("#form_container").html("");
							}
						},
					});
					setTimeout(function(){
						if($(".dhtmlx_popup_button div")[0]){
							$(".dhtmlx_popup_button div")[0].click()
						}
					},20000);
				});
			}else{
				dhtmlx.alert({type: "alert-error", title: "数据验证有误", text: "请检查填写是否完整或格式类型是否正确。"});
			}
			
		} else if(id){
			console.info(id);
			alert(id+",Error!");
		}
	});
}
/**
 * 验证是否符合ip字符串的格式:10.10.10.10/32
 */
function ipstr(value){
	var a = value.split("/");
	var c = a[0].toString().match(/^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/);
	var b = a.length==1?true:a.length>2?false:parseInt(a[1])<=32&&a[1].match(/^\d{0,2}$/);
	return c&&!!(c[1]<=255&&c[2]<=255&&c[3]<=255&&c[4]<=255)&&b||false;
}
</script>
{/block} {block name="script"} {/block}
